.x,.o{
    cursor: not-allowed;

}

.row{
    display:flex;
}

.cell{
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #898989;
}

.o:before{
    content: 'a';
    width: 40px;
    height: 40px;
    /* background: black; */
    border: 1px solid black;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.x:before{
    content: 'a';
    width: 40px;
    height: 1px;
    background: black;
    color: white;
    position: absolute;
    top: 50%;
    transform: rotate(45deg)translateY(-50%);
    left: 0;
}
.x:after{
    content: 'a';
    width: 40px;
    height: 1px;
    background: black;
    position: absolute;
    color: white;
    top: 50%;
    transform: rotate(135deg)translateY(-50%);
    left: 0;
}